@page "/Home/{memberId}"
@attribute [Authorize(Roles = "Registered")]

<h3>Home</h3>

<p>Successful signin @MemberEmail! Where do you want to go?</p>

<button @onclick="() => GoToProfile()">Profile</button>