@page "/Home/{memberId}"
@attribute [Authorize(Roles = "Registered")]

<h3>Home</h3>

<p>Successful signin @MemberEmail! Where do you want to go?</p>

<MudButton Variant="Variant.Filled" @onclick="() => GoToProfile()">Profile</MudButton>
<MudButton Variant="Variant.Filled" @onclick="() => GoToMainPage()">Main page</MudButton>