@page "/Login"

<h3>Login</h3>

<div>
    <p>
        <MudTextField @bind-Value="Email" Label="Email" Variant="Variant.Outlined"></MudTextField>        
    </p>
    <p>
        <MudTextField @bind-Value="Password" Label="Password" Variant="Variant.Outlined"></MudTextField>
        </p>
    
    <MudButton Variant="Variant.Filled" @onclick="() => MemberLogin()">Log in</MudButton>      
</div>