@page "/MainProfile/{memberId}"
@attribute [Authorize(Roles = "Registered")]

<h3>User Profile</h3>

@if (User == null)
{
    <p>Loading...</p>
}

else
{
    <button @onclick="() => EditProfile()">Edit profile</button>

    <div>
        <p>First Name = @User.FirstName</p>
        <p>Last Name = @User.LastName</p>
        <p>Email = @User.Email</p>
        <p>Age = @User.Age</p>
    </div>
}
