@page "/MainProfile/{memberId}"
@attribute [Authorize(Roles = "Registered")]

<h3>User Profile</h3>

@if (User == null)
{
    <p>Loading...</p>
}

else
{
    <MudButton Variant="Variant.Filled" @onclick="() => EditProfile()">Edit profile</MudButton>
    <MudButton Variant="Variant.Filled" @onclick="() => ViewDogs()">View dogs</MudButton>
    

    <div>
        <p>First Name = @User.FirstName</p>
        <p>Last Name = @User.LastName</p>
        <p>Email = @User.Email</p>
        <p>Age = @User.Age</p>
    </div>   
}
