@using MudBlazor

@page "/ViewUserProfile/{DogId}"

<h3>ViewUserProfile</h3>

@if (_viewUserProfileOverview.DogProfile == null)
{
    <p>Loading...</p>
}

else
{
    <MudCard>
        <MudCardMedia Image="images/door.jpg" Height="200" />
        <MudCardContent>
            <MudText Typo="Typo.h5">@_viewUserProfileOverview.DogProfile.Name</MudText>
            <MudText Typo="Typo.body2">Blah blah blah text</MudText>
        </MudCardContent>
    </MudCard>
    <MudCard>
        <MudCardMedia Image="images/door.jpg" Height="200" />
        <MudCardContent>
            <MudText Typo="Typo.h5">@_viewUserProfileOverview.Profile.FirstName @_viewUserProfileOverview.Profile.LastName</MudText>
            <MudText Typo="Typo.body2">Blah blah blah text</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Primary" @onclick="NavigateToPrivateMessage">Message</MudButton>         
        </MudCardActions>
    </MudCard>
}